html {
	font-size: 62.5%;
}

body {
	box-sizing: border-box;
	margin: 0;	
}

main {
	margin: 15px;
	text-align: center;	
}

button {
	background-color: #21a44c;
	border: none;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	padding: 15px 40px;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;	
	transition: all 0.2s;
	width: 100%;
}

button:hover {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	transform: translateY(-3px);	
}
button:hover::after {
	opacity: 0;
	transform: scaleX(1.4) scaleY(1.6);	
}

button:active,
button:focus {
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	outline: none;
	transform: translateY(-1px);	
}

h1 {	
	color: #21a44c;
	font-size: 48px;
	margin: 20px;
}

input{
	box-sizing: border-box;
}

input,
select {
	outline-color: #21a44c;
}

label {
	font-size: 2rem;
}

#form {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 30px;
}

#form * {
	font-weight: bold;
	margin: 5px;
}

#heightResults {
	font-size: 24px;
	margin-top: 15px;
}

#unitSection,
#compareSection {
	width: 30rem;
}

#unit,
.heightCom,
.heightCom option {
	padding: 10px;
	width: 100%;
}

#firstCompare,
#secondCompare,
#unit
 {
	width: 100%;
}

#unitSection,
#firstCompare,
#secondCompare,
#compareSection,
form {
	align-items: center;
	display: flex;
	flex-direction: column;
}

@media (max-width: 400px) {
	#unitSection,
	#compareSection {
		width: 20rem;
	}
}